<!DOCTYPE html>

{% extends './base.html' %}

{% block template %}
<h1>I am Form page</h1>


{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body> -->
    <!-- <h3>This is Form is created by HTML Code</h3>
    <form action="" method="post">
        <label for="user_name">Full Name</label>
        <input type="text" name="user_name" value="" required>

        <label for="user_email">Email</label>
        <input type="text" name="user_email" placeholder="Please Enter Your Email" value="" required>
        <input type="submit" name="submit" value="Submit"> -->
       
<!-- 
        <hr>

        <h3>{{ heading_1 }}</h3>
        <form action="" method="post">
            {{ test_form.as_p }}
            {% csrf_token %}
            <input type="submit" name="submit" value="Submit">
        </form> -->

        <!-- {% if form_submitted %} -->
            <!-- <p>Name: {{ user_name }}</p>
            <p>Date of Birth: {{ user_dob }}</p>
            <p>Email : {{ user_email }}</p>
            <p>Boolean : {{ boolean_field }}</p> -->

            <!-- <p>Field: {{ field }}</p>
        {% endif %} -->

        
<!-- 
    </form>
</body>
</html> -->